body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}
#clock{
    height: 50px;
    width: 300px;
    background-color: royalblue;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}
